body {
	font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quattrocento', serif;
}

img {
    width: 80%;
}

.about-me {
    padding: 50px;
}

#about-me-suck div{
    margin: 10px;
}

.col-sm-4 {
    text-align: center;
}

.col-sm-4 img {
    padding: 20px;
}

#clubs div {
    text-align: center;
}

#clubs .row .col img{
    padding: 20px;
} 

h3 span, h4 span, h6 span {
	font-family: 'Quattrocento Sans', sans-serif;
}

h1 span, h2 span {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: calc(1rem + .2vw);
}

#ex .carousel-indicators button{
    background-color: black;
}