body {
	font-family: 'Quattrocento Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Quattrocento', serif;
}

img {
    width: 100%;
}

.about-me {
    padding: 50px;
}

#about-me-suck div{
    margin: 10px;
}

.col-sm-4 {
    text-align: center;
}

.col-sm-4 img {
    padding-right: 20px;
}

#clubs div {
    text-align: center;
}

#clubs .row .col img{
    padding: 20px;
} 

h3 span, h4 span, h6 span {
	font-family: 'Quattrocento Sans', sans-serif;
}

h1 span, h2 span {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: calc(1rem + .2vw);
}

#ex .carousel-indicators button{
    background-color: black;
}

/*flip*/
#mentors .row .col h4, #mentors .row .col p{
    margin-bottom: 0;
    font-family: 'Quattrocento Sans', sans-serif;
    word-wrap: break-word;
}

#mentors .row {
    padding-left: 3rem;
    padding-right: 3rem;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
}

.flip-card img {
    width: 100%;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    position: fixed;
    background-color: #fff;
    color: black;
}

.flip-card-back {
    background-color: #c5e0dc;
    color: black;
    transform: rotateY(180deg);
}